/* tag selector */
h1 {
  color: red;
  font-size: 200px;
}
img {
  background-color: red;
}
img {
  background-color: gold;
}
/* id selector */
#heading {
  color: blue;
}
#heading:hover {
  color: lightblue;
}
/* class selector */
.bacon {
  background-color: green;
}
.bacon:hover {
  background-color: orange;
}
.broccoli {
  background-color: red;
}
.broccoli:hover {
  background-color: yellow;
}
.circular {
  border-radius: 50%;
}
